
<div class="container">
    <div class="row">
    <div class="col-sm">
    <a type="button" class="btn btn-primary mr-1 mt-1" style="padding:10"
        href="/qstatus?complete=yes" role="button">Include Completed</a>
    <a type="button" class="btn btn-primary mr-1 mt-1" style="padding:10" href="/qstatus?complete=no"
        role="button">Exclude Completed</a>
    {# <a type="button" class="btn btn-danger" style="padding:10"
        href="/qclear?really=yes" role="button">Clear Queue</a> #}
    </div>


    <div class="col-sm">


    <div class="row">
        <form action="/workers" method="post">
            <label class="lead" style="margin-right:5px" for="count">Worker Count</label>

            <input type="text" id="count" name="count" placeholder="{{ workercount }}"
                style="width:60px;margin-right:5px">

            <input class="btn btn-danger" type="submit" value="Submit">
        </form>
    </div>


    </div>


</div>
</div>