
<script>



    $(document).ready(function () {
        $('#QstatTable').DataTable(
            {
                paging: false

            }
        );

        var i;
        var row;
        var t = document.getElementById("QstatTable");

        for (i = 0; i < t.rows.length; i++) {
            row = t.rows[i]
            if (row.cells[1].innerHTML == "R") {
                // running
                row.style.backgroundColor = "#007bff";
                row.style.color = "white";
            }
            else if (row.cells[1].innerHTML == "Q") {
                // queued

                if (row.cells[5].innerHTML.startsWith("-")) {
                    row.style.color = "white";
                    row.style.backgroundColor = "green";
                }
                else {
                    // queued, has incomplete dependenceis
                    row.style.backgroundColor = "lightgreen";
                }
            }
            else if (row.cells[1].innerHTML == "C") {
                row.style.color = "#999 ";
            }
            else if (row.cells[1].innerHTML == "D") {
                row.style.backgroundColor = "#ffcccc";
                row.style.color = "slategrey";
            }

        }
    });


     $(document).ready(function () {
            $('#QTopTable').DataTable(
                {
                    paging: false

                }
            );

            var i;
            var row;
            var t = document.getElementById("QTopTable");

            for (i = 1; i < t.rows.length; i++) {
                row = t.rows[i]

                for (j = 1; j < 9; j++) {
                    if (row.cells[j].innerHTML != "") {
                        row.cells[j].style.backgroundColor = "#00bb00";
                    }
                    else {
                        row.cells[j].style.backgroundColor = "#d7e2f4";
                    }
                }


            }
        });

</script>