<!DOCTYPE html>
<html lang="en">

<head>
    <title>LoQuTuS - {{ page_title }} </title>
    <meta charset="utf-8">
    {#
    <meta http-equiv="refresh" content="120"> #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {#
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <style>
        /* .fakeimg {
      height: 100px;
      background: #aaa;
  } */
    </style>
</head>

<body>
    <div class="container" style="background:steelblue">
        <h1 style="text-align:center;color: white">LoQuTuS - {{ page_title }}</h1>
        {# <h2 style="text-align:center;color: white"> {{ page_title }} </h1> #}
    </div>

    {{ navbar }}

    {{ buttonbar }}

    <div class="container">
        <p class="lead"> {{ summary }} </p>
    </div>

    <div id="TABLES">
        <div class="container" id="QTopTableContainer">
            {{ qtop_table }}
        </div>

        <div class="container" id="QstatTableContainer">
            {{ qstat_table }}
        </div>

    </div> <!-- id="TABLES" -->


    {{ script_block }}

</body>

</html>