
<table id="QstatTable" class="table table-sm display">
    <thead class="thead-dark" style="text-align:center;">

        {% for item in header %}
        <th>{{ item }}</th>
        {% endfor %}
    </thead>

    {% for row in rows %}
        <tr style="text-align: center;">
        {% for item in row %}
            <td>{{ item }}</td>
        {% endfor %}
        </tr>
    {% endfor %}

</table>
